body {
  background-color: #F2E530;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

#ninja {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }
}


#container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-block: 1rem;

  #box {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 3px;
  }

}